@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .align-element {
      @apply max-w-4xl mx-auto px-4;
    }
  }



img {
    object-fit: cover;
    color: aliceblue;
    background-color: none;
    margin: auto;
}


.nav {
    border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
}

header {
    padding: 50px 15px 0px;
}



main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 15px;
}

.searchbox {
    display: block;
    width: 100%;
    padding: 15px;

    border: none;
    outline: none;
    background: none;

    background-color: #EEE;
    border-radius: 8px;

    color: #53565A;
    font-size: 20px;
    font-weight: 300;

    transition: 0.4s ease-out;
}

.searchbox:focus {
    box-shadow: 0px 0px 8px 3px #4484C4;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.results .result {
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.results .result img {
    display: block;
    width: 100%;
}

.results .result h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background: #445565;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #445565;

    overflow-y: scroll;
}

.popup .content {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1260px;
    gap: 20px;
    margin: auto;
    padding: 25px;
    color: #FFF;
}

.popup .content h2 {
    font-size: 28px;
    font-weight: 600;
}

.popup .content h2 span {
    font-weight: 300;
    font-size: 20px;
}

.popup .content .rating {
    margin-bottom: 30px;
}


.popup .content .plot p {
    flex: 1 1 50%;
    padding: 15px;
}
.logo-men{
width: 100px;
height: 100px;
background-color: white;
padding: 8px;
font-weight: 800;
border: 3px solid rgb(red, green, blue);
border-radius: 40px;
}
.popup .content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    background: #4484C4;
    color: #FFF;
    border-radius: 8px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.popup .content .close:hover {
    background: #223343;
}

.year {
    display: block;
}

.navbar-list{
    margin: auto;
    width: 100%;
    height: 72px;
    padding-top: 10px;
}
.list-item{
    margin-top: 10px;
    display: flex;
    margin: auto;
    max-width: 1020px;
    justify-content: space-between;

}
.form-body{
    width: 450px;
    padding: 10px;
    border-radius: 30px;
    margin: auto;
 }
@media only screen and (max-width: 600px) {
 .content{
    display: block;
 }
 
    .title{
    font-size: 23px;
 }
 .navbar-list{
    display: block;
 }
 .form-body{
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 input{
    width: 100px;
    margin: auto;
 }
 li{
    display: block;
 }
  }
  @media only screen and (max-width: 1100px) {
    .title{
       font-size: 26px;
    }
    .content{
        display: block;
    }
     }